@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutPage.cshtml";
}

<button class="btn btn-primary" onclick="location.href='@Url.Action("HangHoa", "Home", new { id = 1 })'">Xem Sách Chủ Đề Khoa Học</button>
<button class="btn btn-primary" onclick="location.href='@Url.Action("HangHoa", "Home", new { id = 2 })'">Xem Sách Chủ Đề văn Học</button>
<button class="btn btn-primary" onclick="location.href='@Url.Action("HangHoa", "Home", new { id = 3 })'">Xem Sách Chủ Đề tin Học</button>
<button class="btn btn-primary" onclick="location.href='@Url.Action("HangHoa", "Home", new { id = 4 })'">Xem Sách Chủ Đề lịch sử</button>
<button class="btn btn-primary" onclick="location.href='@Url.Action("HangHoa", "Home", new { id = 5 })'">Xem Sách Chủ Đề tâm ly Học</button>

<div class="book-list">
    @foreach (var book in Model)
    {
        <div class="book">
            <div class="book-image">
                <span class="play"><span class="name">@book.Tensach</span></span>
                <a href="#"><img class="img" src="~/Content/image/@book.Anhbia" alt="@book.Tensach" /></a>
            </div>
            <div class="details">
                <p><strong>Price:</strong> @book.Giaban.ToString("C")</p>
                <p><strong>Description:</strong> @book.Mota</p>
                <p><strong>Publisher:</strong> @book.NHAXUATBAN.TenNXB</p>
                <p><strong>Category:</strong> @book.CHUDE.TenChuDe</p>
            </div>
            <div class="rating">
                <p>RATING</p>
                <div class="stars">
                    <div class="stars-in"> </div>
                </div>
                <span class="comments">12</span>  Chỗ này có thể thay bằng comment thực tế nếu có
            </div>
        </div>
    }
</div>
